/ABOUT-NLS filter=lfs diff=lfs merge=lfs -text
/AUTHORS filter=lfs diff=lfs merge=lfs -text
/COPYING filter=lfs diff=lfs merge=lfs -text
/ChangeLog filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
/INSTALL filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
/Makefile filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
/NEWS filter=lfs diff=lfs merge=lfs -text
/README filter=lfs diff=lfs merge=lfs -text
*.DOS filter=lfs diff=lfs merge=lfs -text
*.MSWIN filter=lfs diff=lfs merge=lfs -text
*.PORTING filter=lfs diff=lfs merge=lfs -text
/TODO filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
/compile filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.rpath filter=lfs diff=lfs merge=lfs -text
*.status filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
/configure filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
/depcomp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/include/stamp-h1 filter=lfs diff=lfs merge=lfs -text
/install-sh filter=lfs diff=lfs merge=lfs -text
/intl/ChangeLog filter=lfs diff=lfs merge=lfs -text
/intl/Makefile filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.charset filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.alias filter=lfs diff=lfs merge=lfs -text
*.y filter=lfs diff=lfs merge=lfs -text
*.sin filter=lfs diff=lfs merge=lfs -text
/m4/ChangeLog filter=lfs diff=lfs merge=lfs -text
/missing filter=lfs diff=lfs merge=lfs -text
/mkinstalldirs filter=lfs diff=lfs merge=lfs -text
*.patch filter=lfs diff=lfs merge=lfs -text
/po/ChangeLog filter=lfs diff=lfs merge=lfs -text
/po/LINGUAS filter=lfs diff=lfs merge=lfs -text
/po/Makefile filter=lfs diff=lfs merge=lfs -text
/po/Makevars filter=lfs diff=lfs merge=lfs -text
/po/POTFILES filter=lfs diff=lfs merge=lfs -text
/po/Rules-quot filter=lfs diff=lfs merge=lfs -text
*.sed filter=lfs diff=lfs merge=lfs -text
*.gmo filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
*.header filter=lfs diff=lfs merge=lfs -text
*.pot filter=lfs diff=lfs merge=lfs -text
/po/stamp-po filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.Po filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
/src/Makefile filter=lfs diff=lfs merge=lfs -text
*.dirstamp filter=lfs diff=lfs merge=lfs -text
/src/apple2/notes/CHROMA-ICS filter=lfs diff=lfs merge=lfs -text
/src/apple2/notes/NTSC-CHROMA-ICS filter=lfs diff=lfs merge=lfs -text
/src/cputest/README filter=lfs diff=lfs merge=lfs -text
/src/drivers/Makefile filter=lfs diff=lfs merge=lfs -text
*.WIN32 filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
/src/drivers_dos/Makefile filter=lfs diff=lfs merge=lfs -text
/src/drivers_libxxx/Makefile filter=lfs diff=lfs merge=lfs -text
/src/mednafen filter=lfs diff=lfs merge=lfs -text
*.LZO filter=lfs diff=lfs merge=lfs -text
*.MEDNAFEN filter=lfs diff=lfs merge=lfs -text
*.MPCDEC filter=lfs diff=lfs merge=lfs -text
/src/mpcdec/ChangeLog filter=lfs diff=lfs merge=lfs -text
/src/mpcdec/README filter=lfs diff=lfs merge=lfs -text
/src/nes/NES-TODO filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
/src/pce/notes/EVENT_SYSTEM_NOTES filter=lfs diff=lfs merge=lfs -text
/src/pce/notes/GAME_NOTES filter=lfs diff=lfs merge=lfs -text
/src/pce/notes/PATENTS filter=lfs diff=lfs merge=lfs -text
/src/pcfx/notes/GAME_NOTES filter=lfs diff=lfs merge=lfs -text
/src/psx/notes/MULTITAP filter=lfs diff=lfs merge=lfs -text
/src/psx/notes/PROBLEMATIC-GAMES filter=lfs diff=lfs merge=lfs -text
/src/psx/notes/PSX-TODO filter=lfs diff=lfs merge=lfs -text
/src/psx/notes/SOURCES filter=lfs diff=lfs merge=lfs -text
/src/psx/notes/SPU-IRQ filter=lfs diff=lfs merge=lfs -text
/src/sexyal/Makefile filter=lfs diff=lfs merge=lfs -text
/src/sexyal/README filter=lfs diff=lfs merge=lfs -text
/src/sms/docs/changelog filter=lfs diff=lfs merge=lfs -text
/src/sms/docs/license filter=lfs diff=lfs merge=lfs -text
*.BSNES filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.LIBCO filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
/src/snes_faust/notes/GAME_NOTES filter=lfs diff=lfs merge=lfs -text
/src/snes_faust/notes/PPU_DESIGN filter=lfs diff=lfs merge=lfs -text
/src/ss/Makefile filter=lfs diff=lfs merge=lfs -text
/src/ss/notes/HOST-CPU-INTENSIVE-GAMES filter=lfs diff=lfs merge=lfs -text
/src/ss/notes/PROBLEMATIC-GAMES filter=lfs diff=lfs merge=lfs -text
/src/ss/notes/REFERENCES filter=lfs diff=lfs merge=lfs -text
/src/ss/notes/SCSP-FM-GAMES filter=lfs diff=lfs merge=lfs -text
/src/ss/notes/WIDESCREEN-GAMES filter=lfs diff=lfs merge=lfs -text
*.TREMOR filter=lfs diff=lfs merge=lfs -text
/src/trio/CHANGES filter=lfs diff=lfs merge=lfs -text
/src/trio/MEDNAFEN-MODIFICATIONS filter=lfs diff=lfs merge=lfs -text
*.FONTS filter=lfs diff=lfs merge=lfs -text
*.ZSTD filter=lfs diff=lfs merge=lfs -text
/stamp-h1 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.dsk filter=lfs diff=lfs merge=lfs -text
*.pce filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
